body,html{
padding: 0;
margin: 0;
background-image: url('./img3.jpg');

 b background-repeat: no-repeat;
  background-attachment: fixed;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 50px;
  background-color:rgb(66,133,244);
  position: fixed;
  height: 100vh;
  overflow: auto;
}
.sidebar a {
	cursor: pointer;
  display: block;
  background:rgb(15,157,88);
  color: black;
  padding:20px;
  padding-right:0;
  text-decoration: none;
}
.sidebar a i{
	background:rgb(255,167,0);
		padding-top: 20px;
	padding-right:0px;
}
div.container {
  padding-top: 5vw;
  padding-left:10vw;
    background: rgba(76, 175, 80, 0.3)
    color: white;
    border: 20px solid ; 
    border-radius: 15px; 
}
@media screen and (max-width: 700px) {
  .sidebar {

    
    height: auto;
    position: relative;
  }
  .sidebar a {
  	
  }
  div.container {

  }
}

@media screen and (max-width: 500px) {
  .sidebar a {

    text-align: center;
    float: none;
  }
}
span{
	text-align: center;
	 font-weight: 900;
	font-size:17px;
	color:rgb(214,45,32);	
	padding: 0;
	margin: 0;
	float: left;
	display: none;
}